In [35]:
import pandas as pd
from word2number import w2n
import matplotlib.pyplot as plt
import math

In [36]:
df = pd.read_csv('/home/kushal/Downloads/hiring.csv')

In [38]:
md_test = math.floor(df['test_score(out of 10)'].median())

In [39]:
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(md_test)

In [40]:
df.experience=df.experience.fillna('zero')

In [44]:
df.experience = df.experience.apply(w2n.word_to_num)

In [49]:
ld = df.drop(columns='salary($)')
ld

   experience  test_score(out of 10)  interview_score(out of 10)
0           0                    8.0                           9
1           0                    8.0                           6
2           5                    6.0                           7
3           2                   10.0                          10
4           7                    9.0                           6
5           3                    7.0                          10
6          10                    8.0                           7
7          11                    7.0                           8

In [53]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(ld,df['salary($)'],train_size = 0.65)

In [56]:
reg = LinearRegression()
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [57]:
reg.predict(x_test)

array([67135.58796153, 76606.88799255, 53054.91777847])

In [58]:
y_test

4    70000
6    72000
0    50000
Name: salary($), dtype: int64